

.pomodoro-timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 29px;
  padding-right: 100px;
  padding-left: 100px;
  font-family: 'RobotoMono-Bold', sans-serif;
  z-index: 1000;
  background-color: rgba(15, 103, 177, 0.5);
  border-radius: 25px;
  transition: 0.5s ease;
}

.pomodoro-timer:hover {
  transform: translate(-50%, -50%) scale(1.05); /* Scale up on hover */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add box shadow on hover */
}

.timer-display {
  font-size: 2em;
  margin-bottom: 20px;
}

.slider-container {
  margin-top: 20px;
}

.slider-container label {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.timer-controls button {
  font-size: 1em;
  padding: 15px;
  margin: 0 5px;
  cursor: pointer;
  background-color: rgb(250, 255, 175);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
  color: rgb(15, 103, 177);
  border-radius: 10px;
}

.timer-controls button:hover {
  background-color: rgb(63, 162, 246);
  transition: 0.3s ease;
  color: white;
}

.button1,
.button2 {
  display: inline-block; /* Display buttons in the same row */
}

